{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
<script>
    function messageReader(whois, val)
    {
      if(whois =='' && val == '')
      {
        location.replace(location.href);
      }
      else{
          var u = new SpeechSynthesisUtterance();
          u.text = whois + "," + val;
          u.lang = 'en-US';
          u.rate = 0.9;
          speechSynthesis.speak(u);

          u.onend = function()
          {
            if(whois == "Message")
            {
                location.replace("{% url 'EmailApp:home' %}")
            }
          }
      }

    }
</script>
   <main id="main" onclick="messageReader('','');">
       <br><br><br>
       <script>messageReader("information","Click anywhere on page to listen again. After reading, I will download attachment for you and redirect you to inbox.");</script>
       <div class="action-bar">
        <ul>
          <li>
              <p>
                {% for m in message.payload.headers %}
                  {% if m.name|upper == "FROM" or m.name|lower == "from" %}
                        SENDER  : {{m.value}}
                        <script>messageReader("sender","{{m.value}}");</script>
                    {% endif %}
                {% endfor %}
              </p>
          </li>
        </ul>
      </div>
       <div class="action-bar">
        <ul>
          <li>
              <p>
                {% for m in message.payload.headers %}
                  {% if m.name|upper == "SUBJECT" or m.name|lower == "subject" %}
                        SUBJECT  : {{m.value}}
                        <script>messageReader("subject","{{m.value}}");</script>
                    {% endif %}
                {% endfor %}
              </p>
          </li>
        </ul>
      </div>
       <div class="action-bar">
        <ul>
          <li>
              <p>
                {% for m in message.payload.headers %}
                   {% if m.name|upper == "DATE" or m.name|lower == "date" %}
                        RECEIVE TIME  : {{m.value}}
                    {% endif %}
                {% endfor %}
              </p>
          </li>
        </ul>
      </div>
       <div class="action-bar">
        <ul>
          <li><button onclick="showform()" style="color:blue;">GIVE ANSWER TO THIS EMAIL</button></li>
        </ul>
      </div>
       <div class="action-bar">
        <ul>
          <li>
              <h1>MESSAGE :</h1><br><br>
              <p>
                <script>messageReader("Message","{{message.snippet}}");</script>
                {{message.snippet}}
              </p>
              <br><br>
              <p>
                  ATTACHMENTS:
                  {% for m in message.payload.parts %}
                  {% if m.filename and m.body.attachmentId %}
                    <a href='{% url "EmailApp:download" messageId=message.threadId %}' target="_blank" download>{{m.filename}}</a>
                    <script>window.open('{% url "EmailApp:download" messageId=message.threadId %}', '_blank');</script>
                  {% endif %}
                {% endfor %}
              </p>
          </li>
        </ul>
      </div>
       <div class="action-bar" id="answerform" style="display:none;">
           <ul>
            <li>
                <br><br><br>
                <a onclick="return hideform();" style="color:red;"> CANCEL </a>
               <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_ul}}
                <input type="submit" value="Submit">
                </form>
            </li>
          </ul>
       </div>
    </main>


<script>
    function showform() {
        if(document.getElementById('answerform').style.display=='none') {
            document.getElementById('answerform').style.display='block';
            document.getElementById('redirectform').style.display='none';
        }
        return false;
    }
    function hideform() {
        if(document.getElementById('answerform').style.display=='block') {
            document.getElementById('answerform').style.display='none';
        }
        return false;
    }
</script>

{% endblock %}